html {
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif;
}


#app {
  padding: 2rem;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;

}


.codi {
  background: #8dd5eb;
}

.liste {
  margin-bottom: 0.6666667em;
  padding-left: 1.0666667em;
  text-align: left;
}

.code2 {
  color: red
}

.ol {
  margin-top: 0.6666667em;

}

.meat {
  width: 570px;
  margin-left: 109px;
  margin-right: 68px;
}

.signin {
  float: right;
  width: 300px;
  text-align: right;
  color: #666;
  font-size: 90%;
  align-self: center;
  margin-right: 10px;
}

.cat {
  float: left;
  width: 175px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.spacer {
  clear: both;
  line-height: 0;
  height: 0;
}

.pitch {
  margin: 8px 0 10px;
  float: left;
  width: 345px;
  padding-left: 32px;
  text-align: left;
}

.tour {
  float: left;
  width: 110px;
  padding: 0 0 5px 20px;
  margin: 10px 0 0 45px;
}

.spacer2 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.join {
  float: left;
  color: #824B08;
  text-align: right;
  width: 335px;
  margin: 0 0 20px 0;
  padding: 0;
  margin-left: 120px;
}

.press {
  margin: 10px 0;
  text-align: center;
}

.footer {
  border-top: 1px solid #999;
  padding-top: 10px;
  position: relative;
  font-size: 70%;

}

.truste {
  position: absolute;
  top: 15px;
  left: 630px;
}

.row {
  display: flex;
  justify-content:space-between;
}

.first {
  font: 82% arial, helvetica, sans-serif
}

.already{
  vertical-align: super;
  margin-right: 10px;
}

.both{
  margin-top: 60px;
}

.haut{
  font-size: larger;
}

.button{
  margin-right: 140px;
}